@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: Epilogue, sans-serif;
}

.attribution {
    display: none;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

    --font-size: 18px;

    /*sidenav*/
    /* --sidenav-width-close: 0; goes to 100 */
    /* --sidenav-right-close: -30px; goes to 0px */
    /* --sidenav-width-open: 100; */
    /* --sidenav-right-open: 0px; */

    /* --sidenav-width: 0; */
    --sidenav-width: 0;
    

    /* --sidenav-right: 0px; */
}

body {
    width: fit-content;
    position: relative;
    background-color: var(--almost-white);
    padding: 0;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 45px;
}

.logo {
    width: fit-content;
}

.menu {
    width: fit-content;
}

.menu-inside {
    display: none;
}

.header {
    font-size: 34px;
    text-align: center;
    width: 100%;
    color:hsl(0, 0%, 8%);
    margin-top: 40px;
}

.description {
    font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 50px;
    font-size: 32px;
    color: hsl(0, 0%, 41%);
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

.btn-learn {
    padding: 45px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-radius: 35px;
    font-size: 35px;
    margin: auto;
    font-weight: 500;
    margin-bottom: 110px;
}

.sponsor {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    height: 37.5px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidenav {
    position: absolute; /*beware!*/
    background-color: var(--almost-white);
    height: 100%;
    width: var(--sidenav-width);
    /* padding: 10px; */
    right: var(--sidenav-right);
    /* padding-right: 30px; */
    transition: 0.5s ease;

    overflow-x: hidden;
}

.close {
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-right: 20px;
}

.features, .company, .careers, .about,
.btn-login, .btn-register {
    color:hsl(0, 0%, 41%);
    font-size: 36px;
    font-weight: 500;
    padding-top: 45px;
    padding-right: 190px;
    padding-left: 40px;
}

.features, .company {
    display: flex;
}

.txt-features, .txt-company {
    padding-right: 30px;
}

.icon-arrow-down {
    width: 18px;
    height: 10px;
    margin-top: 10px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}

.btns .btn-login{
    padding: 0;
    width: 100%;
    text-align: center;
}

.btns .btn-register{
    width: 100%;
    text-align: center;
}

.btn-login {
    font-size: 32px;
}

.btn-register {
    font-size: 32px;
    padding: 25px;
    margin: 20px;
    margin-top: 35px;
    /* background-color: lightgray; */
    border-radius: 30px;
    border: 4px solid var(--medium-gray);
}

.logo, .menu, .btn-learn, .features,
.company, .careers, .about, .btn-login, 
.btn-register, .close {
    cursor: pointer;
}

/*inside features*/
.icon-todolist {
    width: 35px;
    height: 40px;
}
.icon-calendar {
    width: 38px;
    height: 40px;
}
.icon-reminders {
    width: 32px;
    height: 40px;
}
.icon-planning {
    width: 35px;
    height: 35px;
}

/* .features-inside {
    display: flex;
    flex-wrap: wrap;
} */

.features-inside {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 90px;
    font-size: 30px;
    color: var(--medium-gray);
    font-weight: 500;
}

.todolist, .calendar, .reminders, .planning {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 35px;
    /* margin-left: 30px; */
    /* margin-right: auto; */
}

.txt-todolist, .txt-calendar, .txt-reminders, .txt-planning {
    margin-top: 6px;
    margin-left: 60px;
    position: absolute;
    /* text-overflow: clip; */
    white-space: nowrap;
}

.company-inside {
    font-size: 30px;
    color: var(--medium-gray);
    font-weight: 500;
    padding-left: 90px;
    padding-top: 35px;
}

.history, .ourteam, .blog {
    margin-top: 35px;
    /* position: absolute; */
    display: flex;
    white-space: nowrap;
}

.careers {
    padding-top: 70px;
}
