@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: Epilogue, sans-serif;
    user-select: none;
}

.attribution {
    display: none;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

    --font-size: 18px;

    /*sidenav*/
    /* --sidenav-width-close: 0; goes to 100 */
    /* --sidenav-right-close: -30px; goes to 0px */
    /* --sidenav-width-open: 100; */
    /* --sidenav-right-open: 0px; */

    /* --sidenav-width: 0; */
    --sidenav-width: 0;
    --sidenav-right: -240px;

    --img-logo_width: 130px;
    --menu_display: block;
    --header_font-size: 27px;
    --description_font-size: 26px;

    --img-sponsor_height: 28px;
    --sidenav-items_font-size: 27.5px;
    --btn-login_font-size: 27.5px;
}

@media only screen and (min-width: 615px) {
    .img-logo {
        --img-logo_width: 100px;
    }
    .menu {
        --menu_display: none;
    }
}

.img-sponsor {
    height: var(--img-sponsor_height);
}

.img-logo {
    width: var(--img-logo_width);
    height: var(--img-logo_height);
}

.img-hero {
    width: 615px;
}

body {
    width: 375px;
    position: relative;
    background-color: var(--almost-white);
    padding: 0;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 615px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 45px;
}

.logo {
    width: fit-content;
}



.menu {
    width: fit-content;
    display: var(--menu_display);
}

.menu-inside {
    display: none;
}

.header {
    font-size: var(--header_font-size); /*34px*/
    text-align: center;
    width: 100%;
    color:hsl(0, 0%, 8%);
    margin-top: 40px;
}

.description {
    font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 50px;
    font-size: var(--description_font-size);/*32*/
    color: hsl(0, 0%, 41%);
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.btn-learn {
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-radius: 28px;
    font-size: 27px;
    margin: auto;
    font-weight: 500;
    margin-bottom: 110px;
}

.sponsor {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    height: 37.5px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidenav {
    position: absolute; /*beware!*/
    background-color: var(--almost-white);
    height: 100%;
    width: var(--sidenav-width);
    right: var(--sidenav-right);
    transition: 0.5s ease;

    overflow-x: hidden;
}

.close {
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-right: 20px;
}

.features, .company, .careers, .about,
.btn-login, .btn-register {
    color:hsl(0, 0%, 41%);
    font-size: var(--sidenav-items_font-size); /*27.5px*/
    font-weight: 500;
    padding-top: 45px;
    padding-right: 190px;
    padding-left: 40px;
}

.features, .company {
    display: flex;
}

.txt-features, .txt-company {
    padding-right: 30px;
}

.icon-arrow-down {
    width: 18px;
    height: 10px;
    margin-top: 10px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}

.btns .btn-login{
    padding: 0;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-left: 160px;
}

.btns .btn-register{
    width: fit-content;
    text-align: center;
}

.btn-login {
    font-size: var(--sidenav-items_font-size); /*32px*/
}

.btn-register {
    font-size: var(--sidenav-items_font-size);
    padding: 25px;
    margin: 40px;
    margin-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 30px;
    border: 2.5px solid var(--medium-gray);
}

.logo, .menu, .btn-learn, .features,
.company, .careers, .about, .btn-login, 
.btn-register, .close,
.todolist, .calendar, .reminders, .planning,
.history, .ourteam, .blog {
    cursor: pointer;
}

/*inside features*/
.icon-todolist {
    width: 35px;
    height: 40px;
}
.icon-calendar {
    width: 38px;
    height: 40px;
}
.icon-reminders {
    width: 32px;
    height: 40px;
}
.icon-planning {
    width: 35px;
    height: 35px;
}

.panel {
    padding-left: 90px;
    font-size: 30px;
    color: var(--medium-gray);
    font-weight: 500;

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease;

    /* .panel {
        text-align: left;
        font-weight: 300;
        margin: var(--panel_margin); 
        padding-top: 5px;
        padding-right: 18px;
        color: hsl(240, 6%, 50%);
        overflow: hidden;
        font-size: 12px;
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease;
    }*/
}

.panel.active{
    opacity: 1;
    max-height: 296.5px;
}

.company-inside.panel.active {
    max-height: 196.5px;
}

.todolist, .calendar, .reminders, .planning {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 35px;
}

.txt-todolist, .txt-calendar, .txt-reminders, .txt-planning {
    margin-top: 6px;
    margin-left: 60px;
    /* position: absolute; */
    white-space: nowrap;
}

.company-inside {
    font-size: 30px;
    color: var(--medium-gray);
    font-weight: 500;
    padding-left: 90px;
}

.history, .ourteam, .blog {
    margin-top: 35px;
    display: flex;
    white-space: nowrap;
}
